<div class="row">
    <div class="row">
        <div class="col-md-12 alert alert-dismissable alert-info text-center">
            <p>{{ title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 list-group">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year of manufacture</th>
                        <th>Rent price</th>
                        <th>Is free</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in allCars">
                        <td>{{car.Id}}</td>
                        <td>{{car.Brand}}</td>
                        <td>{{car.Model}}</td>
                        <td>{{car.YearOfManufacture}}</td>
                        <td>{{car.RentPrice}}</td>
                        <td>
                            <span ng-if="car.IsRented == false" class="glyphicon glyphicon-ok"></span>
                            <span ng-if="car.IsRented == true" class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>
                            <a href="#/rent/{{car.Id}}">
                                <span class="glyphicon glyphicon-road"></span>
                            </a>
                            <a href="#/edit/{{car.Id}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#/" ng-click="delete(car.Id)" ng-controller="carsController">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>